{{ define "main" }}

  {{ $data := index .Site.Data .Site.Language.Lang }}

  {{ "<!-- page title -->" | safeHTML }}
  <section class="section" style="background-color: {{ .Params.bgcolor }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">

          <h1 class="text-white mb-4"> Searching Resource Modules </h1>
          {{ with .Site.Params.banner.placeholder }} <input id="search" class="form-control" placeholder="{{ . }}"> {{ end }}
            {{ "<!-- Javascript -->" | safeHTML }}
            <script>
              $(function() {
                var projects = [
                  {{ range $data.resources }}
                    {
                      value: "{{ .Name }}",
                      label: "{{ .Name }}",
                      url:"{{ .Name }}",
                      resources: "{{ .DscResources }}"
                    },
                  {{ end }}
                ];
                $( "#search" ).on('keyup',function () {
                  var value = $(this).val();
                  if(!value) {
                    // Search all cards with id go_ and make sure they are displayed
                    $.each($('[id^=go_]'),function (i,val) { val.style.display='block'; if(val.collapse) { val.collapse("hide") } })
                  }
                })
                $( "#search" ).autocomplete({
                    minLength: 0,
                    source: projects,
                    focus: function( event, ui ) {
                      $( "#search" ).val( ui.item.label );
                        return false;
                    },
                    select: function( event, ui ) {
                      $( "#search" ).val( ui.item.label );
                      $( "#project-id" ).val( ui.item.value );
                      // Hide all other cards when we selected an item
                      $.each($('[id^=go_]'),function (i,val) {
                        if(val.id=='go_' + ui.item.label ) {
                          val.style.display='block';
                        } else {
                          val.style.display='none';
                        }
                      })
                      $('#' + ui.item.label).collapse("show");
                      return false;
                    }
                })
                .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                  return $( "<li>" )
                  .append( "<a href=\"#" + item.url + "\" data-toggle=\"collapse\" onclick=\"$.each($('[id^=go_]'),function (i,val) { if(val.id=='go_" + item.label + "') { val.style.display='block'} else {val.style.display='none'} })\"  >" + item.label + "</a>" )
                  .appendTo( ul );
                };
              });

            </script>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /page title -->" | safeHTML }}

  {{ "<!-- Resources -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <h2 class="section-title text-primary">{{ .Params.Title }}</h2>
          {{ "<!-- accordion -->" | safeHTML }}
          <div id="accordion">
            {{ range $data.resources }}
            {{ "<!-- accordion item -->" | safeHTML }}
            <div  id="go_{{ .Name }}" class="card mb-4 rounded-0 shadow border-0">
              <div class="card-header rounded-0 bg-white border p-0 border-0">
                <a class="card-link h4 d-flex tex-dark mb-0 py-3 px-4 justify-content-between" data-toggle="collapse" href="#{{ .Name }}" >
                  <span>{{ .Name }} &nbsp;</span> <i class="ti-plus text-primary text-right"></i>
                </a>
              </div>
              <div id="{{ .Name }}" class="collapse card-body" data-parent="#accordion">
                <div class="d-flex flex-row-reverse">

                </div>
                {{ "<!-- Version | Published -->" | safeHTML }}
                <div class="row">
                  <div style="padding:10px">
                    <strong>Version:</strong>
                    <span class="badge badge-success">{{ .Version }}</span>
                  </div>
                  <div style="padding:10px">
                    <strong>Published:</strong>
                    <span class="badge badge-success">{{ .PublishedDate | dateFormat "2006-01-02 15:04" }}</span>
                    <br />
                  </div>
                  <div style="padding:10px">
                      Information fetched on:
                      <span class="badge badge-secondary">{{ .AdditionalMetadata.updated | dateFormat "2006-01-02 15:04" }}</span>
                      <br />
                  </div>
                  <a class="btn btn-primary btn-sm rounded p-2 m-2 btn-github" href="{{ .ProjectUri }}" target="_blank" role="button"><i class="fab fa-github-square"></i>Open Project</a>
                </div>
                {{ "<!-- Tags -->" | safeHTML }}
                <div class="row">
                  <div style="padding:10px">
                    <strong>Tags:</strong>
                    {{ range (split .AdditionalMetadata.tags " ") }}
                    <span class="badge badge-pill badge-info">{{ . }}</span>
                    {{ end }}
                  </div>
                </div>

                {{ "<!-- DSC Resources -->" | safeHTML }}
                <div class="row">
                  <div style="padding:10px">
                    <strong>DSC Resources:</strong>
                    {{ range (split .AdditionalMetadata.DscResources " ") }}
                    <span class="badge badge-warning">{{ . }}</span>
                    {{ end }}
                  </div>
                </div>
                {{ "<!-- description -->" | safeHTML }}
                <div class="card border-0">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-desc-tab-{{ .Name }}" data-toggle="tab" href="#nav-desc-{{ .Name }}" role="tab" aria-controls="nav-desc-{{ .Name }}" aria-selected="true">Description</a>
                        <a class="nav-item nav-link" id="nav-rn-tab-{{ .Name }}" data-toggle="tab" href="#nav-rn-{{ .Name }}" role="tab" aria-controls="nav-rn-{{ .Name }}" aria-selected="false">Release Notes</a>
                        <!-- <a class="nav-item nav-link" id="nav-other-tab-{{ .Name }}" data-toggle="tab" href="#nav-other-{{ .Name }}" role="tab" aria-controls="nav-other-{{ .Name }}" aria-selected="false">Other</a> -->
                      </div>
                    </nav>
                    <div class="tab-content border-top-0" id="nav-tabContent-{{ .Name }}">
                      <div class="tab-pane fade show active border-top-0" id="nav-desc-{{ .Name }}" role="tabpanel" aria-labelledby="nav-desc-tab-{{ .Name }}">
                        <div class="card card-body border-top-0">{{ .Description | safeHTML }}</div>
                      </div>

                      <div class="tab-pane fade card border-top-0" id="nav-rn-{{ .Name }}" role="tabpanel" aria-labelledby="nav-rn-tab-{{ .Name }}">
                          <div class="card card-body border-top-0">{{ .AdditionalMetadata.releaseNotes | markdownify }}</div>
                      </div>
                      <!--
                      <div class="tab-pane fade card border-top-0" id="nav-other-{{ .Name }}" role="tabpanel" aria-labelledby="nav-other-tab-{{ .Name }}">
                          <div class="card card-body border-top-0">...</div>
                      </div>
                      -->
                    </div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /faq -->" | safeHTML }}

{{ end }}
